<!--  <%- section.title.toUpperCase() -%> Section -->
<div class="ncc-section" id="<%= section.id _%>">
    <h3 class="ncc-section-title">
        <a class="toggle-content" href="#<%= section.id _%>-toggle" 
            ontouchstart="let el = document.querySelector('#<%= section.id %> .ncc-chevron'); el.classList.toggle('fa-chevron-right'); el.classList.toggle('fa-chevron-down');">
            <i class="fa fa-chevron-right ncc-chevron"><span class="ncc-icon-spacer">.</span></i>
            <span class="ncc-section-title-text">
                <%- section.title -%>
                <% if (section.headline) { -%>   
                <%- '<span class="ncc-section-headline">' %>                
                <%- section.headline %>                
                <%- '</span>' %>
                <% } -%>
            </span>
        </a>
    </h3>
    <div id="<%= section.id _%>-toggle" class="ncc-section-toggle">
        <%_ if (section.btfHeadline) { -%>
            <%- '<p class="ncc-section-btf-headline">' + '\n' + section.btfHeadline + '\n' + '</p>' -%>
        <%_ } -%>        
        <!-- <%- section.title.toLowerCase() -%> section content -->
        <%_ if (Object.keys(section.subsections) && Object.keys(section.subsections.length > 0)) { -%>   
        <%_ Object.keys(section.subsections).forEach(function(subsectionKey){ -%>
            <%- section.subsections[subsectionKey].body -%>
            <%_ }) -%>
        <%_ } -%>
    </div>
</div>
<% if (section.isLastSection == false) { -%>   
    <%- -%>
    <%- '<hr>' %>
    <%- %>
<% } -%>